<form
  class="
    flex flex-col
    lg:w-6/12 lg:h-96
    justify-center
    items-center
    py-14
    bg-gradient-to-t
    from-neutral
    to-neutral-light
    border-2 border-dashed border-primary
    rounded-lg
  "
>
  <i
    class="
      fas
      fa-cloud-upload-alt
      text-5xl
      bg-gradient-to-t
      from-primary
      to-primary-light
      bg-clip-text
      text-transparent
    "
  ></i>
  <div class="py-6 text-center">
    <p class="text-gray-light">Dateien hier ablegen</p>
    <span class="text-gray-light font-semibold uppercase opacity-50">oder</span>
  </div>
  <button class="px-8 py-2 bg-secondary text-white rounded-lg shadow-lg cursor-pointer">Suchen</button>
</form>
