<ul id="fileList" class="flex flex-col space-y-7"></ul>

<template id="unfinishedFileTemplate">
  <li class="flex justify-between items-center space-x-8">
    <i class="fas fa-file-pdf text-5xl bg-gradient-to-t from-secondary to-primary bg-clip-text text-transparent"></i>
    <div class="grid grid-cols-4 gap-3 flex-grow">
      <span class="col-span-3 text-gray text-sm font-medium truncate" data-name></span>
      <span class="justify-self-end text-gray-light text-sm" data-percentage>0%</span>
      <div class="relative col-span-4 w-full h-1 bg-neutral rounded z-0">
        <div
          class="absolute w-0 h-full bg-gradient-to-r from-secondary to-primary z-10 rounded"
          data-progress-bar
        ></div>
      </div>
    </div>
    <div
      class="
        flex
        justify-center
        items-center
        w-6
        h-6
        bg-neutral
        rounded-full
        cursor-pointer
        group
        hover:bg-gray-light
        transition-all
        duration-300
      "
      style="min-width: 24px"
    >
      <i class="fas fa-times text-gray-light text-sm group-hover:text-neutral transition-none"></i>
    </div>
  </li>
</template>

<template id="finishedFileTemplate">
  <li class="flex justify-between items-center space-x-8">
    <i class="fas fa-file-pdf text-5xl bg-gradient-to-t from-secondary to-primary bg-clip-text text-transparent"></i>
    <div class="grid grid-cols-4 gap-1 flex-grow">
      <span class="col-span-3 text-gray text-sm font-medium truncate" data-name></span>
      <span class="row-start-2 text-gray-light text-sm" data-size></span>
    </div>
    <div
      class="
        flex
        justify-center
        items-center
        w-6
        h-6
        bg-success-light
        rounded-full
        group
        hover:bg-success
        transition-all
        duration-300
      "
      style="min-width: 24px"
    >
      <i class="fas fa-check text-success text-sm group-hover:text-neutral transition-none"></i>
    </div>
  </li>
</template>
