<div class="w-full max-w-5xl p-6 lg:p-8 m-6 bg-white rounded-xl shadow-xl">
  <div class="mb-10 text-center lg:text-left">
    <h1 class="pb-2 text-gray text-xl font-medium">PDF-Dateien hochladen</h1>
    <p class="text-gray-light text-sm">Dokumente hochladen und bequem Daten extrahieren.</p>
  </div>

  <div class="lg:flex lg:space-x-14 justify-between items-stretch">
    <%- include("./partials/dropzone.ejs") %>

    <div class="lg:flex lg:flex-col lg:justify-between lg:w-6/12">
      <div>
        <p class="mt-10 lg:mt-0 mb-6 text-gray-light text-sm">Hochgeladene Dateien</p>
        <%- include("./partials/files.ejs") %>
      </div>

      <div class="mt-20 lg:mt-0">
        <button
          class="
            px-8
            py-2
            bg-secondary
            text-white
            rounded-lg
            shadow-lg
            cursor-pointer
            transform
            hover:scale-105
            transition-transform
          "
        >
          Konvertieren
        </button>
        <button class="ml-6 text-gray-light hover:text-gray transition-colors">Abbrechen</button>
      </div>
    </div>
  </div>
</div>
